@font-face {
  font-family: 'Muller';
  src: url('/fonts/Muller/Muller-Trial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller-B';
  src: url('/public/fonts/Muller/muller-black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller-Black';
  src: url('/public/fonts/Muller/Muller-Trial-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller-Medium';
  src: url('/fonts/Muller/Muller-Trial-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Muller-Bold';
  src: url('/fonts/Muller/Muller-Trial-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Muller';
}

/*Стили для первой строки навигации(кнокпи)*/

.header__address{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

@media (max-width: 1199.98px) { 
  .header__address{
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767.98px) { 
  .header__address{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.address {
  font-family: 'Muller-Medium';
  font-size: 12px;
}

.address__geo {
  font-family: 'Muller';
}

.address__search{
  color: #ffffff;
  width: 56px;                 /* квадратная форма */
  height: 42px;
  background: #000000;         /* цвет фона кнопки */
  position: relative;
  /* Скошенный нижний правый угол (2 способа — выбери один) */
  /* Способ A: clip-path (проще всего) */
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 17.5px), calc(100% - 8px) 100%, 0 100%);
}

.address__search:hover {
  background-color: #F84435;
}

.address__search img {
  width: 16px;
  height: 16px;
}

.hover-eye {
    position: relative;
    width: 24px;
    height: 13px;
    margin-top: auto;
    margin-bottom: auto;

}

.hover-eye::before,
.hover-eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 13px;
    transition: opacity 0.3s ease;
}

.hover-eye::before {
    background: url('/public/eye\ 1.svg') center/cover;
    opacity: 1;
}

.hover-eye::after {
    background: url('/public/eye\ 2.svg') center/cover;
    opacity: 0;
}

.hover-eye:hover::before {
    opacity: 0;
}

.hover-eye:hover::after {
    opacity: 1;
}





/*Стили для второй строки навигации(кнокпи)*/

.custom-burger {
  width:85px;
  height: 56px;
  border: none;
  border-radius: 0;
  padding: 0;
  background: #F84435;         /* цвет фона кнопки */
  position: relative;
  outline: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 7.5px 100%, 0 calc(100% - 18px));
}

@media (max-width: 1199.98px) { 
  .custom-burger {
   width:75px;
  }
}

@media (max-width: 767.98px) { 
  .custom-burger {
   width: 60px;
   height: 42px;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%, 0 calc(100% - 15px));
  }
}

.custom-burger:hover {
    background-color: black;
}

/* Иконка «три палки» внутри */
.custom-burger__icon,
.custom-burger__icon::before,
.custom-burger__icon::after {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 2px;
  background: #fff;            /* цвет линий */
  transform: translateX(-50%);
  content: "";
}

/* Средняя полоска */
.custom-burger__icon { top: 50%; transform: translate(-50%, -50%); }

/* Верхняя и нижняя */
.custom-burger__icon::before { top: -8px; }
.custom-burger__icon::after  { top:  8px; }


  .menu {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

@media (max-width: 1199.98px) { 
  .menu {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767.98px) { 
  .menu {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.menu__bar {
  max-width:299px;
}


.menu__bar-right {
  width:67px;
  height: 55px;
  background-color: red;
  color: white;
  text-align: center;
  clip-path: polygon(0 9.5px, 25.5px 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 1199.98px) { 
  .menu__bar-right {
   width:62px;
   clip-path: polygon(0 9px, 23.5px 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 767.98px) { 
  .menu__bar-right {
   width:52px;
   clip-path: polygon(0 7px, 20px 0, 100% 0, 100% 100%, 0 100%);
  }
}

.menu__bar-left {
  width:133px;
  height: 55px;
  background-color: black;
  color: white;
  text-align: center;
  clip-path: polygon(0 0, calc(100% - 25.5px) 0, 100% 9.5px, 100% 100%, 0 100%);
}

@media (max-width: 1199.98px) { 
  .menu__bar-left {
   width:123px;
   clip-path: polygon(0 0, calc(100% - 23.5px) 0, 100% 9px, 100% 100%, 0 100%);
  }
}

@media (max-width: 767.98px) { 
  .menu__bar-left {
   width:103px;
   clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 7px, 100% 100%, 0 100%);
  }
}

.menu__bar-left svg,
.menu__bar-right svg {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1199.98px) { 
  .menu__bar-left svg {
    width:98px;
    height: 21px;
  }
}

@media (max-width: 767.98px) { 
  .menu__bar-left svg {
    width:82px;
    height: 18px;
  }
}
@media (max-width: 1199.98px) { 
  .menu__bar-right svg {
    width:43px;
    height: 24px;
  }
}

@media (max-width: 767.98px) { 
  .menu__bar-right svg {
    width:36px;
    height: 20px;
  }
}

.dropdown {
  min-width: 100px;
  width: clamp(100px, 10vw, 158px); 
}

.dropdown-item {
  font-family: 'Muller';
  font-weight: bold;
  color: #ffffff;
  padding-left: 0;
  font-size: 14px;
}

.dropdown-toggle {
    font-family: 'Muller';
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}
 
.nav-link.dropdown-toggle {
  color: #000000;
  min-width: 100px;
  width: clamp(100px, 10vw, 158px);                 /* квадратная форма */
  height: 56px;
  padding-left: 10px;
  background: transparent;         /* цвет фона кнопки */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%);
}
.nav-item.dropdown {
  position: relative;
}
.dropdown-toggle:hover {
  color: #ffffff;
  width: 158px;                 /* квадратная форма */
  height: 56px;
  padding-left: 10px;
  background: #F84435;         /* цвет фона кнопки */
  position: absolute;
  z-index: 2;

  /* Скошенный нижний правый угол (2 способа — выбери один) */
  /* Способ A: clip-path (проще всего) */
   clip-path: polygon(0 0, 100% 0, 100% 38px, 140px 100%, 0 100%);
}



.dropdown-menu {
  color: #ffffff;
  width: 140px;                 /* квадратная форма */
  height: 158px;
  border: 0;
  border-radius: 0;
  padding-left: 10px;
  background: #000000;         /* цвет фона кнопки */
  position: relative;
  outline: none;

  /* Скошенный нижний правый угол (2 способа — выбери один) */
  /* Способ A: clip-path (проще всего) */
   clip-path: polygon(0 0, 140px 0, 100% 20px, 100% 100%, 0 100%);
}

.nav__social {
  justify-content: space-between;
  width: 116px;
}

.nav__social a{
  padding: 2px;
}

.hover-vk,
.hover-youtube,
.hover-instagram {
    position: relative;
    width: 24px;
    height: 13.69px;
    overflow: hidden;
}

.hover-youtube {
  width: 20.26px;
  height: 24px;
}

.hover-instagram {
  height: 24px;
}

.hover-vk::before,
.hover-vk::after,
.hover-youtube::before,
.hover-youtube::after,
.hover-instagram::before,
.hover-instagram::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 13.69px;;
    transition: opacity 0.2s ease;
}

.hover-youtube::before,
.hover-youtube::after {
  width: 20.26px;
  height: 24px;
}

.hover-instagram::before,
.hover-instagram::after {
  height: 24px;
}

.hover-vk::before {
    background: url('/public/picture/icons/vk\ dark.svg') center/cover;
    opacity: 1;
}

.hover-vk::after {
    background: url('/public/vk.svg') center/cover;
    opacity: 0;
}

.hover-youtube::before {
    background: url('/public/picture/icons/youtube\ dark.svg') center/cover;
    opacity: 1;
}

.hover-youtube::after {
    background: url('/public/youtube.svg') center/cover;
    opacity: 0;
}

.hover-instagram::before {
    background: url('/public/picture/icons/instagram\ dark.svg') center/cover;
    opacity: 1;
}

.hover-instagram::after {
    background: url('/public/instagram.svg') center/cover;
    opacity: 0;
}




.hover-vk:hover::before,
.hover-youtube:hover::before,
.hover-instagram:hover::before {
    opacity: 0;
}

.hover-vk:hover::after,
.hover-youtube:hover::after,
.hover-instagram:hover::after {
    opacity: 1;
}





/* Главное содержимое*/

/* Главное событие */

.event {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.event__h1 {
  margin-bottom: 32px;
  font-family: 'Muller-Black';
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  color: #000000;
}

.event__image {
  clip-path: polygon(0 0, calc(100% - 24.5px) 0, 100% 10px, 100% 100%, 0 100%);
  margin-bottom: 32px;
}

.event__nav {
  margin-bottom: 40px;
}

.event__prev,
.event__prev-active,
.shedule__prev {
  width:177.12px;
  height: 40px;
  margin-right: 43.88px;
  border: none;
  border-radius: 0;
  padding: 0;
  background: #000000;         /* цвет фона кнопки */
  position: relative;
  outline: none;
  color: #ffffff;
  font-family: 'Muller-Bold';
  font-size: 12px;
  line-height: 100%;
  clip-path: polygon(19.5px 0, 100% 0, 100% 100%, 0 100%, 0 7px);
}

.event__prev-active {
  background-color: #F84435;
}

.event__prev::before,
.event__prev-active::before,
.shedule__prev::before {
  position: absolute;
  content: '';
  left: 20px;
  width: 7px;
  height: 7px;
  top: 15px;
  transform: rotate(45deg);
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.event__links {
  width: 195px;
}

.event__link,
.event__link {
  font-family: "Muller";
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
  text-decoration-skip-ink:none;
  text-underline-offset: 1px; 
  color: #000000;
  pointer-events: none; 
}

.event__link:last-child {
    color: #F84435;
}

.event__description {
  font-family: "Muller";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  text-wrap: pretty;
}

.event__description span {
  color: #F84435;
  text-decoration-line: underline;
  text-decoration-skip-ink:none;
  text-underline-offset: 1px; 
}

/* Расписание */

.schedule {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.shedule__news {
  width: 570px;
}

.shedule__prev {
  margin-bottom: 56px;
}

.swiper2 {
  max-width: 1170px;
  height: 350px;
}


  .swiper2-wrapper{
    width: 100%;
    max-width: 1200px;
    margin-left: 0;
    margin-right: 0;
  }


.swiper2-slide {
  width: 270px;
  height: 220px;
}

.shedule__newscard {
  position: relative;
  padding: 24px 22px 0 24px;
  width: 270px;
  height: 220px;
  background-color: #ffffff;
  clip-path: polygon(26px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}



.shedule__newscard::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: 260px;
  height: 210px;
  background-color: #f8f9fa;
  clip-path: polygon(22px 0, 100% 0, 100% 100%, 0 100%, 0 8px);
}

.shedule__newscard:hover {
  background-color: #F84435;
}

.shedule__newsdate {
  width: 97px;
  height: 27px;
  margin-bottom: 24px;
  background-color: #F4F4F4;
  clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 5px, 100% 100%, 0 100%);
  font-family: "Muller-Bold";
  font-size: 14px;
  color: #4F4F4F;
}

.shedule__newsdate p {
  margin: 0;
}

.shedule__newsdescription {
  font-family: "Muller-Bold";
  font-size: 21px;
  line-height: 24px;
}



/*Анонсы*/

.shedule__announcements {
  width: 558px;
}

.shedule__announcementscard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 436px;
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 121px), calc(100% - 10px) calc(100% - 96px), 100% calc(100% - 71px), 100% 100%, 0 100%);
}

.shedule__announcementsimage{
   margin-bottom: 27.87px;
   clip-path: polygon(71px 0, 100% 0, 100% 100%, 0 110%, 0 46px);
}

.shedule__announcementsimg {
  width: 270px;          /* всегда равна ширине контейнера */
  height: 165px;        /* фиксируем высоту (любая по дизайну) */
}


/* Скрытая карточка с расписанием */

.shedule__announcementscard-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 436px;
  background-color: #000000;
  clip-path: polygon(0 0, 100% 0, 100%  100%, 0 100% ,  0 266px, 10px 240px, 0 214px, 0 110px, 10px 84px,0 58px );
}
.shedule__announcementscard-hidden{
  position: absolute;
  visibility: hidden;             
}

.shedule__announcementscard-info h2 {
  font-family: "Muller-Black";
  font-size: 21px;
  line-height: 100%;
  margin: 33px 0 24px 24px;
  color: #FFFFFF;
}

.shedule__announcementsclose {
  position: absolute;
  top:0;
  right: 0;
  width: 45px;
  height: 39px;
  background-color: #FFFFFF;
  font-family: "Muller-Black";
  font-size: 16px;
  color: #000000;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 19px 100%, 0 calc(100% - 7px));
}

.shedule__announcementsclose::before {
  position: absolute;
  right: 23.25px;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
}

.shedule__announcementsclose::after {
  position: absolute;
  left: 23.25px;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;;
}

.shedule__announcements_announcement {
  gap:0 16px;
  margin: 0 19px 0 24px;
}

.shedule__announcementsdate {
  margin-right: 100px;
  width: 97px;
  height: 27px;
  margin-bottom: 24px;
  background-color: #F4F4F4;
  clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 5px, 100% 100%, 0 100%);
  font-family: "Muller-Bold";
  font-size: 14px;
  color: #4F4F4F;
}

.shedule__announcementsdate p {
  margin: 0;
}

.shedule__announcementstime {
  position: relative;
  width: 64px;
  height: 32px;
  margin-bottom: 16px;
  background-color: #ffffff;
  color: #FFFFFF;
  font-family: "Muller-Black";
  font-size: 14px;
  line-height: 100%;
  clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 5px, 100% 100%, 0 100px);
}

.shedule__announcementstime::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: 60px;
  height: 28px;
  background-color: #000000;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 4.5px, 100% 100%, 0 100px);
}

.shedule__announcementstime:hover::after {
  background-color: #F84435;
}

.shedule__announcementstime p {
  margin: 0;
}


/* Скроллбар кастомный для карточки расписания*/

.swiper5 {
  margin: 0;
}

/* Cкроллбар */
.swiper5-slide { 
  width: 227px;
  height:auto;
}

@media (max-width: 1199.98px) { 
  .swiper5-wrapper {
    height: 340px;
  }
}

.swiper5-scrollbar {
  background: #4F4F4F;   /* цвет трека */
  border-radius: 0;    /* скругление */
  margin-right: 17px;
}



/* Бегунок */

.swiper5-scrollbar .swiper-scrollbar-drag {
  width: 10px;;
  left: -3px;
  background: #ffffff;
  border-radius: 0px;
  cursor: pointer;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%, 0 40%);
}


.swiper5 .swiper-scrollbar-vertical {
  height: calc(100% - 40px) !important;
  top: 20px !important;
}

.swiper1-slide { 
  width: 270px;
  height: 436px;
}

/* Карточка свайпера */

.shedule__announcementsagelimit {
  position: absolute;
  top:0;
  right: 0;
  width: 45px;
  height: 39px;
  background-color: #F84435;
  font-family: "Muller-Black";
  font-size: 16px;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 19px 100%, 0 calc(100% - 7px));
}

.shedule__announcementsagelimit p {
  margin-top: auto;
  margin-bottom: auto;
}

.announcements {
  margin-bottom: 57px;
}

.announcements__tel {
  position: absolute;
  left: 0;
  font-family: "Muller-Medium";
  font-size: 14px;
  order:1;
}

.announcements__tel span{
  color: #E0E0E0;
}

.main__order h2 {
  font-family: Muller-Black;
  font-size: 36px;
  order:2;
}

.announcements__more {
  order:3;
  position: absolute;
  right: 1px;
  font-family: "Muller-Medium";
  font-size: 14px;
  text-decoration: none;
  text-decoration-line: underline;
  text-underline-offset: 4px;  
  color: inherit;    
  font-size: 14px;
}

.announcements__more:hover {
  color: #F84435;
}

/* Свайпер афишы */ 

.shedule__announcementsganre {
  height: 27px;
  padding:0 10px;
  margin: 27px 0 25px 24px;
  background-color: black;
  color: white;
  text-align: center;
  clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 5px, 100% 100%, 0 100%);
}

.shedule__announcementsganre p {
  font-family: "Muller-Black";
  font-size: 14px;
  margin: 0;
}


.shedule__announcementscard h2 {
  font-family: "Muller-Black";
  font-size: 21px;
  line-height: 100%;
  margin-left: 24px;
  margin-bottom: auto;
}

/* Кнопка подробнее */

.shedule__announcementslink {
  border: 0;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28.13px;
}

.shedule__announcementsdetails{
    width: 112.88px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    clip-path: polygon(0 0, calc(100% - 19.5px) 0, 100% 7px, 100% 100%, 0 100%);
}

.shedule__announcementscursor{
    width: 46.12px;
    height:40px;
    background-color: red;
    color: white;
    text-align: center;
    clip-path: polygon(19.5px 0, 100% 0, 100% 100%, 0 100%, 0 7px);
}

.shedule__announcementsdetails,
.shedule__announcementscursor {
  font-family: 'Muller-Bold';
  font-size: 14px;
}

/*Блок с документами*/

.documents {
  position: relative;
  width: 1170px;
  top:-15px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.documents__h2 {
  width: 20px;
  font-family: 'Muller-Black';
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 32px;
  margin: 0;
}

.documents__document {
  padding-bottom: 32px;
}

.documents__pdf {
  width: 170px;
  height: 152px;
  background-color: #000000;
  align-content: center;
  text-align: center;
  clip-path: polygon(0 0, calc(100% - 26.5px) 0, 100% 10px, 100% 100%, 0 100%);
}

.documents__pdfblock {
  width: 1000px;
  height: 152px;
  padding: 24px 30px;
  background-color: #ffffff;
  clip-path: polygon(26.5px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}

.documents__pdfblock p {
  font-family: 'Muller-Bold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.documents__download button {
  width:108.12px;
  height: 40px;
  margin-right: 29.88px;
  border: none;
  border-radius: 0;
  padding: 0;
  background: #000000;         /* цвет фона кнопки */
  position: relative;
  outline: none;
  color: #ffffff;
  font-family: 'Muller-Bold';
  font-size: 12px;
  line-height: 100%;
  clip-path: polygon(19.5px 0, 100% 0, 100% 100%, 0 100%, 0 7px);
}

.documents__download p {
  margin: 0;
  font-family: 'Muller-Bold';
  font-size: 12px;
  line-height: 100%;
}

.documents__document:last-child button {
  background-color: #F84435;
}


/*Блок с подробным описанием*/

.description {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

.description__image {
  position: relative;
  width: 569px;
  height: 410px;
  margin-left: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  clip-path: polygon(0 0, calc(100% - 26.5px) 0, 100% 10px, 100% 100%, 0 100%);
}

.description img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Блок с UI кнопками*/
.ui {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.ui__events {
  flex-direction: column;
  justify-content: space-between;
  font-family: "Muller-Bold";
  font-size: 14px;
  line-height: 100%;
  width: 72px;
  height: 44px;
  margin-right: 98px;
}

.ui__events a {
  color: #000000;
}

.ui__events a:last-child {
  color: #F84435;
}

.ui__search {
  width: 234px;
  height: 40px;
  justify-content: space-between;
  margin-right: 96px;
}

.ui__search div {
  width: 104px;
  justify-content: space-between;
}

.ui__search div button:last-child {
  border: none;
  color: #ffffff;
  width: 56px;                 /* квадратная форма */
  height: 42px;
  background: #000000;         /* цвет фона кнопки */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 17.5px), calc(100% - 8px) 100%, 0 100%);
}

.ui__search div button:last-child img {
  width: 16px;
  height: 16px;
}

.ui__search div:last-child button:last-child {
  background-color: #F84435;
}

.ui__search div button:first-child {
    border: none;
    background-color: transparent;
    position: relative;
}

.ui__socials{
  flex-direction: column;
  justify-content: space-between;
  width: 116px;
  height: 71px;
  margin-right: 56.74px;
}

.ui__socials a{
  padding: 2px;
}

.ui__vk,
.ui__youtube,
.ui__instagram {
    position: relative;
    width: 24px;
    height: 13.69px;
    overflow: hidden;
}

.ui__youtube {
  width: 20.26px;
  height: 24px;
}

.ui__instagram {
  height: 24px;
}

.ui__vk::before,
.ui__youtube::before,
.ui__instagram::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 13.69px;;
    transition: opacity 0.2s ease;
}

.ui__youtube::before {
  width: 20.26px;
  height: 24px;
}

.ui__instagram::before {
  height: 24px;
}

.ui__socials ul:first-child .ui__vk::before {
    background: url('/public/picture/icons/vk\ dark.svg') center/cover;
    opacity: 1;
}

.ui__socials ul:last-child .ui__vk::before {
    background: url('/public/vk.svg') center/cover;
    opacity: 1;
}

.ui__socials ul:first-child .ui__youtube::before {
    background: url('/public/picture/icons/youtube\ dark.svg') center/cover;
    opacity: 1;
}

.ui__socials ul:last-child .ui__youtube::before {
    background: url('/public/youtube.svg') center/cover;
    opacity: 1;
}

.ui__socials ul:first-child .ui__instagram::before {
    background: url('/public/picture/icons/instagram\ dark.svg') center/cover;
    opacity: 1;
}

.ui__socials ul:last-child .ui__instagram::before {
    background: url('/public/instagram.svg') center/cover;
    opacity: 1;
}

.ui__staff {
  flex-direction: column;
}

.ui__staff div div {
  height: 40px;
  padding: 16px 20px 12px 20px;
  margin-right: 20px ;
  margin-bottom: 30px;
  background-color: #ffffff;
  font-family: "Muller-Bold";
  font-size: 12px;
  line-height: 100%;
  text-wrap-mode:nowrap;
  clip-path: polygon(19.5px 0, 100% 0, 100% 100%, 0 100%, 0 7px) ;
}

.ui__staff div:first-child div:nth-child(2) {
  background-color: #000000;
  color: #ffffff;
}

.ui__staff div:last-child div:nth-child(3) {
  background-color: #F84435;
  color: #ffffff;
}
.ui__wrapper {
  margin-bottom: 54px;
}

.ui__announcement {
  width: 207px;
  height: 78px;
  gap:0 7px;
  margin: 0 58px 34px 0;
}

.ui__announcement:last-child {
  margin-bottom: 0;
}

.ui__announcementsdate {
  margin-right: 100px;
  width: 97px;
  height: 27px;
  margin-bottom: 19px;
  background-color: #000000;
  clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 5px, 100% 100%, 0 100%);
  font-family: "Muller-Bold";
  font-size: 14px;
  color: #4F4F4F;
}

.ui__announcementsdate p {
  color: #ffffff;
  margin: 0;
}

.ui__announcementstime {
  position: relative;
  width: 64px;
  height: 32px;
  margin-bottom: 16px;
  background-color: #000000;
  color: #000000;
  font-family: "Muller-Black";
  font-size: 14px;
  line-height: 100%;
  clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 5px, 100% 100%, 0 100px);
}

.ui__announcementstime::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: 60px;
  height: 28px;
  background-color: #ffffff;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 4.5px, 100% 100%, 0 100px);
}

.ui__announcementstime p {
  margin: 0;
}

.ui__announcement:last-child .ui__announcementstime:nth-child(3){
  background-color: #F84435;
}
/* Кнопка подробнее */

.ui__announcementslink {
  border: 0;
  padding: 0;
  background-color: transparent;
  margin-bottom: 72px;
  margin-right: 17px;
}

.ui__announcementslink:last-child {
  margin-bottom: 0;
}

.ui__announcementsdetails{
    width: 112.88px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    clip-path: polygon(0 0, calc(100% - 19.5px) 0, 100% 7px, 100% 100%, 0 100%);
}

.ui__announcementscursor{
    width: 46.12px;
    height:40px;
    background-color: red;
    color: white;
    text-align: center;
    clip-path: polygon(19.5px 0, 100% 0, 100% 100%, 0 100%, 0 7px);
}

.ui__announcementsdetails,
.ui__announcementscursor {
  font-family: 'Muller-Bold';
  font-size: 12px;
}

.ui__announcementslink:last-child .ui__announcementsdetails {
  background-color: #ffffff;
  color: #000000;
}

/*Календарь*/

.ui__calendar {
  width: 46px;
  height: 40px;
  background-color: #000000;
  margin-bottom: 72px;
  clip-path: polygon(19.5px 0, 100% 0, 100% 100%, 0 100%, 0 7px);
}

.ui__calendar:last-child {
  background-color: #F84435;
  margin-bottom: 0;
}



/* Галерея */ 

.main__gallery {
  display: flex;
  background-color: transparent;
}

.gallery__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 24px;
}

.gallery__title {
  position: relative;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.gallery__title h2 {
  font-family: "Muller-Black";
  font-size: 36px;
  line-height: 100%;
}

.gallery__card {
  width: 400px;
  height: 235px;
}

.gallery__img {
  width: 100%;
  height: 235px;
}

.swiper3 {
  flex-direction: column;
  height: 278px;
}

.swiper3-slide {
  width: 400px;
  height: 235px;
}

.gallery_wrapper_scroll {
  position: relative;
  width: 1170px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
}

.swiper3-scrollbar {
  background: #E0E0E0;   /* цвет трека */
  height: 10px;          /* толщина полосы */
  border-radius: 0;    /* скругление */
  margin-bottom: 20px;
}

.swiper3-scrollbar .swiper-scrollbar-drag {
  height: 10px;
  top: -3px;
  background: #000000;
  border-radius: 0px;
  cursor: pointer;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%, 0 40%);
}


/* Cвайпер с фильтром*/

.gallery__filtered {
  margin-bottom: 168px;
}

.swiper7 {
  flex-direction: column;
  height: 278px;
}

.swiper7-slide {
  width: 400px;
  height: 235px;
}


.swiper7-scrollbar .swiper-scrollbar-drag {
  height: 10px;
  top: -3px;
  background: #000000;
  border-radius: 0px;
  cursor: pointer;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%, 0 40%);
}

.swiper7-scrollbar {
  background: #E0E0E0;   /* цвет трека */
  height: 10px;          /* толщина полосы */
  border-radius: 0;    /* скругление */
  margin-bottom: 20px;
}

.swiper7-scrollbar .swiper-scrollbar-drag {
  background: #F84435;
}


.swiper7-slide {
   filter: grayscale(100%); 
}

.swiper7-slide:hover {
     filter: grayscale(0); 
}




/*Заголовки*/

.titles {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 106px;
  font-family: "Muller-Black";
}

.titles h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 27px;
}

.titles h2 {
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 27px;
}

.titles h3 {
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 27px;
}

.titles h4 {
  font-size: 21px;
  line-height: 100%;
  margin-bottom: 27px;
}

/* Списки */ 

.lists {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 61px;
}

.lists legend {
  position: relative;
  left: -20px;
  font-family: "Muller-Black";
  font-size: 21px;
  line-height: 100%;
  margin-bottom: 27px;
}

.lists ul {
  margin-right: 67px;
}

.lists fieldset {
  width: 537px;
}

.lists ul, .lists  ol {
  padding: 0;
}

.lists ol {
  padding: 0;
}

.lists ul li {
  position: relative;
  list-style: none;
}
.lists ul li::before {
  position: absolute;
  content: "" ; 
  top:5px;
  left: -17px;
  width: 12px;
  height: 10px;
  background-color: #F84435;
  clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100% 0 5px);
}

.lists ol li {
  padding-left: 19px;
  list-style-type:decimal;
}

.lists ol li::marker {
  list-style-type:decimal;
  font-family: 'Muller-B';
  font-weight: bold;
  color: #F84435;
}

/* Таблица */ 

.table {
  position: relative;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 83px;
  background: #E0E0E0;
  font-family: 'Muller';
  font-size: 14px;
  line-height: 21px;
  clip-path: polygon(27px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}

.table table {
  /* margin-left: 5px; */
  width: 1160px;
  clip-path: polygon(27px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
  /* background-color: E0E0E0; */
}

.table th:first-child {
  width: 63px;
}

.table th:nth-child(2) {
  width: 429px;
}

.table td:first-child {
  font-family: "Muller";
  font-weight: 400;
  width: 63px;
}

.table td:nth-child(2) {
  width: 429px;
}

.table th,
.table td {
  background-color: #F8F9FA;
  padding: 10px 12px;
  text-align: left;
}

.table th {
  background-color: #F8F9FA;
  font-weight: bold;
}

.table td:first-child {
  text-align: center;
}

.table {
  border: 5px solid #E0E0E0;
  border-collapse: collapse;
  position: relative;
}

.table::before {
  content: "";
  position: absolute;
  top: -2px; left: -2px;   /* выравниваем по рамке */
  border-top: 20px solid E0E0E0;  /* заливка угла */
  border-right: 20px solid transparent; /* диагональ */
}



/* Раздел проекты */ 

.footer__projects {
  display: flex;
  padding-top: 63px;
  padding-bottom: 59px;
  flex-direction:column;
  background-color: #ffffff;
  height: 232px;
}

@media (max-width: 1199.98px) { 
  .footer__projects  {
    display: block;
    height: 324px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


@media (max-width: 767.98px) { 
  .footer__projects  {
    display: block;
    padding-top: 27.52px;
    padding-bottom: 29.52px;
    height: 179px;
  }
}


.footer__wrapper {
  width: auto;
}

.projects__card {
  position: relative;
  width: 270px;
  height: 110px;
  background-color: #000000;
  clip-path: polygon(26px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}

@media (max-width: 767.98px) { 
  .projects__card {
    width: 125.52px;
    height: 52px;
    clip-path: polygon(12.5px 0, 100% 0, 100% 100%, 0 100%, 0 6px);
  }
}


.projects__card::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: 260px;
  height: 100px;
  background-color: #ffffff;
  clip-path: polygon(22px 0, 100% 0, 100% 100%, 0 100%, 0 8px);
}

@media (max-width: 767.98px) { 
  .projects__card::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: 121.52px;
  height: 48px;
  background-color: #ffffff;
  clip-path: polygon(10.5px 0, 100% 0, 100% 100%, 0 100%, 0 5px);
}
}

.projects__card:hover {
  background-color: #F84435;
}

.swiper4 {
  width: 1170px;
  height: 350px;
}

@media (max-width: 1199.98px) { 
  .swiper4 {
    width: 560px;
    height: 244px;
  }
}

@media (max-width: 767.98px) { 
  .swiper4 {
    width: 260.01px;
    height: 112.97px;
  } 
}

@media (min-width: 1199.98px) { 
  .swiper4-wrapper{
    margin-left: 0;
    margin-right: 0;
  }
}

.swiper4-slide {
  width: 270px;
  height: 110px;
}

@media (max-width: 767.98px) { 
  .swiper4-slide {
    width: 125.52px;
    height: 52px;
  }
}

.projects__card img {
  max-width: 236px;
  height: auto;
}

@media (max-width: 767.98px) { 
  .projects__card img {
    max-width: 109.38px;
    height: auto;
  }
}


/* Настройки кнопок next и prev*/

 .footer__wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-nav {
    position: relative;
    top: -280px;
  }

@media (min-width: 1199.98px) { 
    .swiper-nav {
      display: none;
  }
}


@media (min-width: 1230px) { 
    .swiper-nav {
      display: block;
  }
   .footer__wrapper {
      width: 1210px;
      margin-left: auto;
      margin-right: auto;
  }
}

@media (max-width: 1199.98px) { 
  .footer__wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-nav {
    position: relative;
    top: -110px;
  }
}


@media (max-width: 767.98px) { 
  .footer__wrapper {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-nav {
    position: relative;
    top: -45px;
  }
}

.swiper-button-prev {
    color: #000000; /* Цвет иконки */
    width: 15px; /* Ширина кнопки */
    height: 15px; /* Высота кнопки */
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    transform: rotate(45deg);
}

.swiper-button-next {
    color: #000000; /* Цвет иконки */
    width: 15px; /* Ширина кнопки */
    height: 15px; /* Высота кнопки */
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    transform: rotate(45deg);
}




/* Футер*/


.footer__about {
  height: 45px;
  background-color: #000000;
  font-family: 'Muller';
  font-size: 12px;
  color: #ffffff;
  padding: 0 10px;
}

.footer__about div {
  max-width: 1200px
}

@media (max-width: 1199.98px) { 
  .footer__description {
    width: 411px;
    height: 24px;
  }

  .footer__about {
    padding: 0 24px;
    height: 57px;
  }

}

@media (max-width: 767.98px) { 
   .footer__about {
      height: 120px;
      padding: 20px 15px;
  }

  .footer__about > div {
    flex-direction: column;
    gap: 20px;
  }

  .footer__description {
    width: 100%;
    text-align: center;
  }


}




